<!DOCTYPE html>
<html>
  <body>
  <p class='login'>
  <% if session[:login_uid] %>
    <%= link_to 'ログアウト', top_logout_path, class:'link' %>
    <%= link_to '投稿する', new_cafe_path, class:'link' %>
    <%= link_to 'マイページ', cafes_show_path, class:'link' %>
  <% else %>
    <%= link_to 'ログイン', top_main_path, class:'link' %>
    <%= link_to 'ユーザ一登録', new_user_path, class:'link' %>
  <% end %>
  </p>
  </body>
</html>

<h1>投稿</h1>
<%= form_with(model: @cafe, local: true) do |f| %>
    <div class="actions">
      <%= f.label :lat,"緯度" %>
      <%= f.text_field :lat,:value =>"緯度", id: :lat %>
      <%= f.label :lng,"経度" %>
      <%= f.text_field :lng,:value =>"経度", id: :lng %>
      <%= f.submit %>
    </div>
  <% end %>
  
  <h2>Map</h2>
  
  <input id="address" type="textbox" value="GeekSalon">
  <input type="button" value="検索" onclick="codeAddress()">
  <p>マーカーをドラック＆ドロップで位置の調整ができます。<p>
  <div id='map'></div>
  
  <style>
  #map {
    height: 600px;
    width: 600px;
  }
  </style>
  
  <script>
  //初期マップの設定
  let map
  let marker
  function initMap(){
    geocoder = new google.maps.Geocoder()
  
    map = new google.maps.Map(document.getElementById('map'), {
      center:  {lat: 35.6803997, lng:139.7690174},  //東京
      zoom: 15,
      
    });
  }
  
  //検索後のマップ作成
  let geocoder
  let aft
  function codeAddress(){
    let inputAddress = document.getElementById('address').value;
    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
          //マーカーが複数できないようにする
          if (aft == true){
              marker.setMap(null);
          }
  
          //新しくマーカーを作成する
          map.setCenter(results[0].geometry.location);
              marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location,
              draggable: true	// ドラッグ可能にする
          });
  
          //二度目以降か判断
          aft = true
  
          //検索した時に緯度経度を入力する
          document.getElementById('lat').value = results[0].geometry.location.lat();
          document.getElementById('lng').value = results[0].geometry.location.lng();
  
          // マーカーのドロップ（ドラッグ終了）時のイベント
          google.maps.event.addListener( marker, 'dragend', function(ev){
              // イベントの引数evの、プロパティ.latLngが緯度経度
              document.getElementById('lat').value = ev.latLng.lat();
              document.getElementById('lng').value = ev.latLng.lng();
          });
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });   
  }
  
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzRgqwurGkhMDhatqXGPATnE8WZLb5aCY&callback=initMap" async defer></script>

<%= form_for @cafe, url:{action: :create} do |f| %>
<p>
  <%= f.label :name, '店名' %>
  <%= f.text_field :name %>
<br>
  <%= f.label :message, '説明' %>
  <%= f.text_area :message,:size=>"60x10" %>
<br>
  <%= f.label :image,'画像' %>
  <%= f.file_field :image %>


  <!--タグ付け機能-->
  <div class='form-group'>
       <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name) do |tag| %>
          <div class='form-check'>
              <%= tag.label class: 'form-check-label' do %>
                  <%= tag.check_box class: 'form-check-input' %>
                  <%= tag.text %>
              <% end %>
          </div>
      <% end %>
  </div>


 <%= f.submit "投稿"%>
<% end %>

<%= link_to "戻る", :back %>