<h1>投稿ページ</h1>
<%= form_for @cafe, url:{action: :create} do |f| %>
<p>
  <%= f.label :name, '店名' %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :message, '説明' %>
  <%= f.text_area :message,:size=>"60x10" %>
</p>

  <!--タグ付け機能-->
  <div class='form-group'>
       <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name) do |tag| %>
          <div class='form-check'>
              <%= tag.label class: 'form-check-label' do %>
                  <%= tag.check_box class: 'form-check-input' %>
                  <%= tag.text %>
              <% end %>
          </div>
      <% end %>
  </div>


  <%= f.submit "投稿"%>
<% end %>