<h1>投稿ページ</h1>
<%= form_for @caves, action: :create do |f| %>
<p>
  <%= f.label :name, '店名' %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :message, '説明' %>
  <%= f.text_field :message %>
</p>
  <%= f.submit "投稿"%>
<% end %>
